<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epf.authoring.ui.MethodElementEditorPageProviders">
      <editorPage
            class="eu.tanov.epf.pv.types.projectiteration.ui.extension.ProjectIterationPageProviderExtension">
      </editorPage>
   </extension>
   <extension
         point="eu.tanov.epf.itemprovider.StandardCategoriesItemProviders">
      <provider
            class="eu.tanov.epf.pv.types.projectiteration.ui.extension.ProjectIterationsExtendedItemProvider"
            id="ProjectIterations">
      </provider>
   </extension>

</plugin>
