<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.emf.validation.constraintProviders">
		<category id="eu.tanov.epf.pv.validators.category.default"
				name="%constraintCategory_Process_Default"/>
		<category id="eu.tanov.epf.pv.validators.category.default/eu.tanov.epf.pv.validators.example.category"
				name="%constraintCategory_Process_Example"/>

		<category id="eu.tanov.epf.pv.validators.category.default/OCL/fromExtension"
				name="%constraintCategory_fromExtension"/>
		<constraintProvider cache="true">
			<package namespaceUri="http://www.eclipse.org/epf/uma/1.0.6/uma.ecore"/>
			<constraints categories="eu.tanov.epf.pv.validators.category.default/eu.tanov.epf.pv.validators.example.category, org.eclipse.epf.validation.library.category">
				<constraint
						class="eu.tanov.epf.pv.validators.example.SampleConstraint"
						id="eu.tanov.epf.pv.validators.example.SampleConstraint"
						lang="Java"
						mode="Batch"
						name="%constraint_name_SampleConstraint"
						severity="ERROR"
						statusCode="1">
					<message>%constraint_message_SampleConstraint</message>
					<target class="ProcessComponent" />
				</constraint>
			</constraints>
		</constraintProvider>
	</extension>
	<extension point="eu.tanov.epf.pv.service.ocl.OCLConstraints">
		<constraints
			  category="eu.tanov.epf.pv.validators.category.default/OCL/fromExtension"
			  id="eu.tanov.epf.pv.validators.example.constraints.notEmptyTaskInTechnique"
			  mandatory="false"
			  message="Empty task in {0}"
			  severity="ERROR">
			<content>
package uma

context ExtendedUma::Technique 
inv notEmptyTaskInTechnique: not self.tasks->isEmpty()

endpackage
			</content>
		</constraints>
	</extension>
</plugin>
