<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
	         point="eu.tanov.epf.pv.ui.wizards.constraintsWizards">
	      <wizard
	            category="org.eclipse.ui.Other"
	            class="eu.tanov.epf.pv.wizards.completeness.wizard.CompletenessWizard"
	            id="eu.tanov.epf.pv.wizards.completeness.wizard.CompletenessWizard"
	            name="Completeness constraint wizard">
	         <description>
	               Adds mandatory feature
	         </description>
	      </wizard>
	   </extension>
	   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.tanov.epf.pv.wizards.completeness.preference.OCLConstraintsPreference"
            id="eu.tanov.epf.pv.ui.ocl.preferences"
            category="org.eclipse.emf.validation.ui.rootPage"
            name="Wizard: Completeness"
            >
      </page>
   </extension>

	<extension point="org.eclipse.emf.validation.constraintProviders">
		<category id="eu.tanov.epf.pv.validators.category.default/Wizards"
				name="Wizards"/>
		<category id="eu.tanov.epf.pv.validators.category.default/Wizards/Completeness"
				name="Completeness"/>
	</extension>

	<extension point="org.eclipse.ui.startup">
      <startup class="eu.tanov.epf.pv.wizards.completeness.preference.AddConstraintAtStartup"/>
	</extension>
   	   
</plugin>
