<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epf.authoring.ui.MethodElementEditorPageProviders">
      <editorPage
            class="eu.tanov.epf.pv.types.projectpractice.ui.extension.ProjectPracticePageProviderExtension">
      </editorPage>
   </extension>
   <extension
         point="eu.tanov.epf.itemprovider.StandardCategoriesItemProviders">
      <provider
            class="eu.tanov.epf.pv.types.projectpractice.ui.extension.ProjectPracticesExtendedItemProvider"
            id="ProjectPractices">
      </provider>
   </extension>
   <extension
         point="eu.tanov.epf.itemprovider.CustomCategoriesItemProviders">
      <provider
            class="eu.tanov.epf.pv.types.projectpractice.ui.provider.ProjectPracticeItemProvider"
            id="ProjectPracticeItemProvider">
      </provider>
   </extension>

</plugin>
