<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.emf.validation.constraintProviders"
         id="oclProvider">
      
      <!-- Custom constraint provider using OCL documents -->
      <constraintProvider
            class="eu.tanov.epf.pv.ocl.provider.OCLConstraintProvider"
            category="Constraints from an OCL Document">
         			<package namespaceUri="http://www.eclipse.org/epf/uma/1.0.6/uma.ecore"/>
         
<!--
         <package namespaceUri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
    -->     
         <ocl path="constraints/library.ocl"/>
      </constraintProvider>
  </extension>

</plugin>
