<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus"> 
	   <objectContribution id="org.eclipse.ui.articles.action.contribution.popup.object"
	      objectClass="org.eclipse.epf.uma.ProcessComponent">
	      <action
	         id="eu.tanov.epf.pv.ui.validator.actions.ValidateAction" 
	         label="%ValidateProcess_text"
	         class="eu.tanov.epf.pv.ui.validator.actions.ValidateAction"> 
	      </action> 
	   </objectContribution> 
	</extension>
	
</plugin>
