<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epf.authoring.ui.MethodElementEditorPageProviders">
      <editorPage
            class="eu.tanov.epf.pv.ui.techniques.extension.TechniquePageProviderExtension">
      </editorPage>
   </extension>
   <extension
         point="eu.tanov.epf.itemprovider.StandardCategoriesItemProviders">
      <provider
            class="eu.tanov.epf.pv.ui.techniques.extension.TechniquesExtendedItemProvider"
            id="techniques">
      </provider>
   </extension>
   <extension
         point="eu.tanov.epf.pv.service.ocl.CustomTypeHandler">
      <handler
            class="eu.tanov.epf.pv.ui.techniques.type.TechniqueCustomTypeHandler">
      </handler>
   </extension>

</plugin>
