<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="OCLConstraints" name="OCL Constraints" schema="schema/OCLConstraints.exsd"/>
	<extension
         point="org.eclipse.emf.validation.constraintProviders"
         id="oclProvider">

		<!-- Custom constraint provider using OCL documents -->
		<constraintProvider
            class="eu.tanov.epf.pv.service.ocl.provider.OCLConstraintProvider">
			<package namespaceUri="http://www.eclipse.org/epf/uma/1.0.6/uma.ecore"/>
		</constraintProvider>
	</extension>

</plugin>
